@{
    ViewBag.Titulo = "Bienvenido/a";
}

<div id="index">
    <h1>Bienvenido/a a Escape Pirata</h1>
    <p>Aventurate a zarpar en esta nueva sala de escape con temática pirata. Resolve acertijos, jugá juegos y ¡escapá de la Capitana Morgana! ¿Estás/an listos para emprender esta épica aventura?</p>
    <p id="opcionesIndex">
        @if (ViewBag.EstadoJuego == null || ViewBag.EstadoJuego > ViewBag.CantidadSalas || !ViewBag.NoDerrotado)
        {
            <a class="boton principal" href="@Url.Action("Comenzar")">Comenzar</a>
        }
        else
        {
            <a class="boton principal" href="@Url.Action("Habitacion")">Volver</a>
            <a class="boton" href="@Url.Action("Comenzar")">Reiniciar</a>
        }
        <a class="boton" href="@Url.Action("Tutorial")">Tutorial</a>
        <a class="boton" href="@Url.Action("Creditos")">Créditos</a>
    </p>
    <div>
        <img src="~/img/index-screenshot1.jpg" alt="Screenshot 1">
        <img src="~/img/index-screenshot2.jpg" alt="Screenshot 2">
        <img src="~/img/tesoro.jpg" alt="Screenshot 3">
    </div>
</div>

    